# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.angular/cache/

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Env
.env
.env.*

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.zip
